<video autoplay muted loop id="background-video">
  <source src="Galaxy_Purple.mp4" type="video/mp4">
</video>
<nav class="navbar navbar-expand-lg" role="navigation">
  <div class="container-fluid">  
    <div class="navbar-header">
      <h1 class="navbar-brand" href="#">Sci-Fi Worlds</h1>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="search-box">
        <input type="text" class="search" name="search" placeholder="">
      </li>
      <li>
        <a href="" class="image-container">
          <img src="Home.png" alt="Home">
        </a>
      </li>
      <li>
          <button  class="image-container" (click)="OpenCarrinho()"><img src="Cesta.png" alt="Cesta"></button>
      </li>
      <li>
        <a href="Login" class="image-container">
          <img src="login.png" alt="Login">
        </a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet />
