#background-video {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    min-width: 100%; 
    min-height: 100%; 
    width: auto; 
    height: auto; 
    z-index: -1; 
    transform: translate(-50%, -50%); 
    filter: contrast(1.2) saturate(1.5) brightness(50%);
}

.navbar{
    width: 100%;
    position: relative;
} 
.container-fluid {
    z-index: 1;
    margin: 0;
    padding: 0;
    top: 0;
    position: fixed;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(9px);
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    height: auto;
    /* background-color: var(--cor-back); */
}

.navbar-header {
    flex: 1; 
}

.navbar-header h1{
    font-weight: 700;
}
.navbar-brand{
    width: 342px;
    position: relative;
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    display: flex;
    padding-left: 100px;
    font-family: 'Montserrat';
    background: linear-gradient(180deg, var(--cor-degrade1) 42.5%, var(--cor-degrade2) 68%); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    text-align: left;
}

.navbar-nav {
    display: flex; 
    margin-left: auto; 
    list-style: none; 
    padding: 0;
    padding-right: 50px; 
}

.navbar-nav img {
    width: 24px;
    height: 24px;
    top: 23.24px;
    left: 1107px;
}

.navbar-nav li{
    margin-left: 30px;
}

.search-box {
    position: relative;
    display: flex; 
    align-items: center; 
}

input[type=text] {
    background: url('/Busca.png') no-repeat center right;
    background-size: 25px 24px;
    width: 30px; 
    height: 28px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;  
    outline: none;
    border: none;
    border-radius: 20px;
}


input[type=text]:hover {
    width: 400px; 
    outline: none;
    background-color: antiquewhite;
    background-position: right 10px center;
}

input[type="text"]:not(:hover) {
    width:30px;
    outline: none;
    border: none;
    caret-color: transparent;
}

button{
    margin:0;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}
