<nav class="navbar navbar-default">
  <div class="container-fluid">  
    <div class="navbar-header">
      <h1 class="navbar-brand" href="#">C.Planet</h1>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="search-box">
        <input type="text" class="search" name="search" placeholder="">
      </li>
      <li>
        <a href="" class="image-container">
          <img src="Home.png" alt="Home">
        </a>
      </li>
      <li>
        <a href="#" class="image-container">
          <img src="Cesta.png" alt="Cesta">
        </a>
      </li>
      <li>
        <a href="#" class="image-container">
          <img src="login.png" alt="Login">
        </a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet />
