<div class="container" #container>
    <div class="form-container register-container">
      <form action="#">
        <h1>Cadastre-se aqui.</h1>
        <div class="alert alert-success" *ngIf="mensagem.length>0">{{mensagem}}</div>
        <input class="form-control"type="text" placeholder="Nome" [(ngModel)]="obj.nome" [ngModelOptions]="{standalone: true}" required pattern="[A-z\s]{6,100}">
        <input class="form-control" type="email" placeholder="Email"[(ngModel)]="obj.email" [ngModelOptions]="{standalone: true}"required>
        <input class="form-control"type="text" placeholder="Telefone"[(ngModel)]="obj.telefone" [ngModelOptions]="{standalone: true}" pattern="[0-9]{4,5}-[0-9]{4}">
        <input class="form-control" type="Password" placeholder="Senha"[(ngModel)]="obj.senha" [ngModelOptions]="{standalone: true}" required pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[$*&@#])[0-9a-zA-Z$*&@#]{8,}$/">
        <button (click)="gravar()">Cadastrar</button>
        <span>ou use a sua conta</span>
        <div class="social-container">
          <a href="#" class="social"><i class="lni lni-facebook-fill"></i></a>
          <a href="#" class="social"><i class="lni lni-google"></i></a>
          <a href="#" class="social"><i class="lni lni-linkedin-original"></i></a>

        </div>
      </form>
    </div>

    <div class="form-container login-container">
      <form action="#" class="login">
        <h1>Faça o seu login.</h1>
        <div class="alert alert-danger" *ngIf="mensagem.length>0">{{mensagem}}</div>
        <input type="email" placeholder="Email" [(ngModel)]="obj.email" class="form-control" [ngModelOptions]="{standalone: true}" required>
        <input type="Password" placeholder="senha"  [(ngModel)]="obj.senha" [ngModelOptions]="{standalone: true}" required>
        <div class="content">
          <div class="checkbox">
            <input type="checkbox" name="checkbox" id="checkbox">
            <label>Lembrar de mim</label>
          </div>
          <div class="pass-link">
              <button (click)="solicitarRecuperacaoSenha()" [disabled]="isLoading">
                <span *ngIf="!isLoading">Esqueceu a senha?</span>
                <span *ngIf="isLoading">Enviando e-mail...</span>
              </button>
          </div>
        </div>
        <button (click)="fazerLogin()">Login</button>
        <div class="social-container">
          <a href="#" class="social"><i class="lni lni-facebook-fill"></i></a>
          <a href="#" class="social"><i class="lni lni-google"></i></a>
          <a href="#" class="social"><i class="lni lni-linkedin-original"></i></a>
        </div>
      </form>
    </div>


    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1 class="title">Bem-vindo <br> cliente.</h1>
          <p>Caso você tenha uma conta, faça login aqui e aproveite o nosso catálogo.</p>
          <button class="ghost" (click)="onLoginClick()" >Login</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1 class="title">Comece a sua <br> jornada agora.</h1>
          <p>Caso você não tenha uma conta ainda, junte-se a nós e comece a sua jornada intergaláctica.</p>
          <button class="ghost" (click)="onRegisterClick()">Cadastrar</button>
        </div>
      </div>
    </div>
  </div>
