<div class="container">
    <div class="row">
        <div class="col-md-6  col-sm-12">
            <div class="Text-Principal">
                <h1>Seu Próximo Lar Cósmico Começa Aqui!</h1>
                <h3>Explore um universo de possibilidades e encontre o planeta perfeito para chamar de seu. </h3>
                <p>De gigantes gasosos a mundos rochosos, a sua aventura espacial começa agora! </p>  
            </div>
        </div>
        <div class="col-md-6 d-none d-sm-block">
            <div class="photo">
                <div class="fundo-image">
                </div>
                <img class="image-icon" alt="" src="image.png">
            </div>
        </div>
    </div>
</div>