
.row { 
    display: flex;
    margin-top: 100px;
    width: auto;
    justify-content: space-around;
    margin-bottom: 300px;
}

.Text-Principal{
    margin-left: 100px;
}

.Text-Principal h1{
        font-size: 60px;
        font-weight: 700;
        background: linear-gradient(93.88deg, var(--cor-degrade1) 9.5%, var(--cor-degrade2) 68%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 0px;
}
    
.Text-Principal h3{
    margin-top: 2px;
    text-align: left;
    display: inline-block;
    width: 453px;
    position: relative;
    list-style: 32px;
    font-size: 26px;
    color: #fff;
}
    
.Text-Principal p{
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
    width: 453px;
    position: relative;
    list-style: 32px;
    font-size: 16px;
    color: #fff;
}

#compra{
    width: 130px;
    position: relative;
    border-radius: 12px;
    background-color: var(--colors-purple);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.link-compra{
    text-transform: uppercase;
    text-decoration: none;
    color:#fff;
    font-size: 12px; 
}

.Text-Segundario{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    text-align: center;
    position: relative;
}

.Text-Segundario h1{
    display: flex;
    position: relative;
    width: 10em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
    color: white;
}

.typewriter-animation {
    overflow: hidden;
    animation: 
    typewriter 5s steps(50) forwards, 
    blinkingCursor 500ms steps(50) infinite normal;
    white-space: nowrap;
}

@keyframes typewriter {
    from{width: 0%;}
    to{width: 85%;}
}
@keyframes blinkingCursor{
  from { border-right-color: rgba(255,255,255,.75); }
  to { border-right-color: transparent; }
}

.Text-Segundario p{
    font-size: 20px;
    color: #fff;
    opacity: 0; 
    animation: fadeIn 1s forwards; 
    animation-delay: 4.8s; 
}

@keyframes fadeIn {
    to { opacity: 1; } 
}

.card {
    position: relative; 
    display: flex;
    justify-content: space-around;
    width: 254px;
    height: 598px;
}

.img-tras {
    width: 256px;
    height: 315px;
    position: absolute; 
    z-index: 1;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow:  16px 16px 30px #1f1e1ea2,
    -8px -8px 30px #ec79ec75;

}

.card-text {
    position: relative; 
    background-color: #fff;
    width: 255px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    height: 131px;
    z-index: 2; 
    top: 195px;
    flex-direction: column; 
    justify-content: space-around;
    padding: 16px; 
}

.card-text p{
    margin-top: 5px;
    font-size: 15px;
    color: #6e6e6e;
    margin-bottom: 10px;
}

.card-text h1{
    margin-bottom: 20px;
    font-size: 25px;
}

.card-text h3{
    margin-top: 10px;
    align-items: flex-start;
    font-size: 15px;
}
.card-text h1, p, h3{
    margin: 0;
}

.detalhe {
    margin-top: auto; 
    align-self: flex-end; 
}

.detalhe img{
    width: 30px;
    height: 30px;
}

.img {
    position: absolute; 
    display: flex; 
    height: 200px; 
    width: 200px; 
    z-index: 4; 
    bottom: 480px;
    margin: 10px;
}

.sombra{
    position: absolute;
    z-index: 3;
    display: flex;
    filter: blur(15px);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    height: 12.8px;
    width: 89px;
    bottom: 460px;
}

.row-segundario{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    width: auto;
    height: 500px;
    margin-bottom: 300px;
}

.Product-Vitrine{
    margin-top:150px;
    height: auto;
    display: flex;
}

.planet{
    display: flex;
    position: relative; 
    justify-content: center;
    width: 100%;
    height: auto;
}

.planet img{
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.row-terceiro{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 400px;
}

.img-cortada{
    display: flex;
    justify-items: end;
    position: relative;
    width: 900px;
    max-width: 100%;
    overflow: hidden;
    height: 850px;
    /* background-color: #fff; */
}

.figure-img{
    position: absolute;
    top: 0;
    left: 0; 
    height: 100%; 
    width: auto; 
    filter: brightness(75%) saturate(1.9);
}

.container{
    margin: 0;
    padding: 0;
}

.Text-Terceiro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Text-Terceiro h1{
    width: 694.1px;
    position: relative;
    font-size: 40px;
    color: #fff;
    text-align: left;
    height: 129.1px;
}

.Text-Terceiro p{
    width: 694.1px;
    position: relative;
    font-size: 16px;
    line-height: 32px;
    color: #fff;
    height: 113.6px;
}


.Text-Terceiro a{
    text-decoration: none;
    width: 694.1px;
    position: relative;
    font-size: 15px;
    font-weight: bold;
    color: var(--cor-degrade2);
    text-transform: uppercase;
}

.Text-Terceiro a:before, .Text-Terceiro a:after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.Text-Terceiro a:before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.Text-Terceiro a:after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.Text-Terceiro a:hover:before, .Text-Terceiro a:hover:after, .Text-Terceiro a:focus:before, .Text-Terceiro a:focus:after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

#DeathStar{
        background-image: url('/Star Wars Episode 6 GIF.gif');
        background-size: cover;
        color: transparent;
        background-clip: text;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        margin: 10px 0;
}

#Duna{
    background-image: url('/Dune.gif');
    background-size: cover;
    color: transparent;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    margin: 10px 0;
}

#Cybertron{
    background-image: url('/Cyber.gif');
    background-size: cover;
    color: transparent;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    margin: 10px 0;
}

.card-footer{
    background: var(--cor-back);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
    padding: 0px;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}


.card-footer h1 {
    position: relative;
    text-transform: uppercase;
font-size: 90px;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #262938, var(--cor-degrade1), var(--cor-degrade2), var(--cor-degrade2),var(--cor-degrade1), #262938);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
}

.nav-footer a{
    text-decoration: none;
    margin-right: 10px;
    color: #6e6e6e;
}

.nav-footer a:hover{
    color: #fff;
}

.nav-footer ul{
    list-style: none;
}

.navbar-text {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.navbar-text a{
    text-transform: uppercase;
}

.navbar-text a:hover{
    border: 1px solid var(--cor-degrade2);
}

.navbar-contact{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.navbar-contact a:hover{
    border-bottom: 1px solid var(--cor-degrade1);
}

.navbar-contact p{
    color: #807e7e;
    margin-right: 10px;
}

button{
    cursor: pointer;
    background: none;
    border: none;
}