<div class = "products">
    <div class = "container">
        <h1 class = "lg-title">Catálogo de Planetas - Explore os Mundos à Venda </h1>
        <h2 class = "text-light">Seja bem-vindo à nossa Galáxia de Oportunidades!</h2>
        <p class = "sub-text">Aqui na página de produtos do Sci-Fi Worlds, você encontrará uma seleção exclusiva dos planetas mais icônicos da ficção científica. <b>Prontos para serem seus!</b></p>
        <div class = "product-items">
            <div class = "product" *ngFor="let produto of produtos">
                <div class = "product-content">
                    <div class = "product-img">
                        <img src = "{{produto.img}}" alt = "product image">
                    </div>
                    <div class = "product-btns">
                        <button type = "button" class = "btn-cart" (click)="comprar(produto)"> Adicionar ao carrinho
                            <span><i class = "fas fa-plus"></i></span>
                        </button>
                        <button type = "button" class = "btn-buy" (click)="carregar(produto)"> Detalhes
                            <span><i class = "fas fa-shopping-cart"></i></span>
                        </button>
                    </div>
                    <div class="card-text">
                        <p>{{produto.descricao}}</p>
                        <h1>{{produto.nome}}</h1>
                        <h3>{{ produto.preco | currency: 'BRL': 'symbol' : '1.2-2' }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>